:root {
    --color1: #94e8b4;
    --color2: #72bda3;
    --color3: #5e8c61;
    --color4: #4e6151;
    --color5: #3b322c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER AND NAV START */

header {
    padding: 20px;
    background-color: var(--color4);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}

header h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: bolder;
}

header a {
    text-decoration: none;
    color: black;
}
header nav {
    margin: 7px, 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px, 15px;
    font-size: 2.55vw;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(59, 50, 44, 1);
}

header nav ul li a:hover {
    background-color: var(--color1);
    color: var(--color2);
    border: 15px;
    text-shadow: none;
}

/* HERO START */
.hero {
    display: flex;
}

.hero img {
    display: flex;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

section .profile-pic {
    display: flex;
    position: absolute;
    top: 150px;
    left: 5px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* ARTICLE "ABOUT ME"" START */

.about-me {
    display: inline-block;
    margin: 20px 50px;
    align-content: center;

}

.section-title {
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 10px rgba(59, 50, 44, 1);
    margin: 20px;
}

/* MAIN "WORK EXAMPLES" START */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--color5);
    border-style: dashed;
    border-color: var(--color3);
}


.gallery-box1 {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 6px solid var(--color1);
    background: var(--color3);
    margin: 5px;
    width: 1100px;
    height: 500px;
    position: relative;
}

.gallery-box1 img {
    width: 100%;
    height: 100%;
}

.gallery-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 6px solid var(--color1);
    background: var(--color3);
    margin: 5px;
    width: 250px;
    height: 250px;
    position: relative;
}
.gallery-box img {
    width: 100%;
    height: 100%;
}

.gallery-box h3, .gallery-box1 h3 {
    position: absolute;
    text-align: center;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color4);
    border-radius: 15px;
    color: black;
}

.gallery-box h3:hover, .gallery-box1 h3:hover {
    background-color: var(--color1);

}



/* FOOTER START */
footer {
    background: var(--color4);
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h3 {
    color: var(--color2);
    font-size: 50px;
    margin: 0;
    font-style: italic;
}

footer address {
    line-height: 1.5;
    text-align: right;
}

footer address a {
    color: var(--color2);
}

/* MEADIA QUERY*/
@media screen and (max-width: 980px) {
  footer h3 {
      font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
    footer h3 {
        font-size: 25px;
    }
  
}

@media screen and (max-width: 575px) {
    header h1 {
        font-size: 25px;
    }
}